@model TTV48Schmalkalden.Models.NewsViewModels
@{
    ViewData["Title"] = "Admin";
}
<section id="blog-post" class="light-bg">
    <div class="container inner-top-sm inner-bottom">
        <div class="comment-form-wrapper">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 85%">Titel</th>
                        <th style="width: 5%">
                            E
                        </th>
                        <th style="width: 5%">
                            D
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.News)
                    {
                    <tr>
                        <td class="text-center"><p>@entry.NewsId</p></td>
                        <td><p>@entry.Title</p></td>
                        <td class="text-center">
                            <a href="#"><i class="icon-edit"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="icon-cancel-squared"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
