@{
    ViewData["Title"] = "Fehler";
}

<section class="light-bg">
    <div class="container inner-top-sm inner-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!
                    </h1>
                    <h2>Da ist wohl etwas schief gelaufen.</h2>
                    <div class="error-details">
                        Die Seite existiert entweder nicht, oder es ist ein anderer Fehler aufgetreten.
                    </div>
                    <div class="error-actions">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">
                            <span class="icon-home"></span>
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>