

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

.textarealong {
    height: 400px!important;
}

.romovethead {
    display: table-cell;
}

@media (max-width:516px) {
    .romovethead {
        display: none;
    }
}